.App {
  text-align: center;
}
.App .Text {
  color: aqua;
  font-size: xx-large;
  font-weight: 900;
  font-family: monospace;
}

.Footer {
  color:brown;
  border: green 1px solid;
  border-radius: 6px;
  padding: 15px;
  margin: 20px;
}

.Footer ol {
  text-decoration: none;
  color: blue;
  font-weight: 700;
}

.Footer li {
  list-style-type: none;
}

.Header a {
  text-decoration: none;
  color: beige;
  font-weight: 700;
  font-size: 27px;
}

.Header li {
  list-style-type: none;
}

.Header {
  border: rgb(47, 17, 216) 1.5px solid;
  border-radius: 6px;
  padding: 15px;
  margin: 20px;
  background-image: url(https://catherineasquithgallery.com/uploads/posts/2021-03/1614610407_56-p-zadnii-fon-dlya-fotoshopa-90.jpg);
  background-size: cover;
  background-position: 100% 100%;
  min-height: 370px;

} 

.Header ul {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}

.Title {
  color: pink;
  border: rgb(151, 19, 96) 1.5px solid;
  border-radius: 6px;
  margin: 20px;
}